.title {
    text-align: center;
    size: 50px;
}

body {
    background-color: #f0f0f0;
}

.navBar {
    width: 50%;
    min-width: 500px; 
    background-color: rgb(248, 205, 244);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto; /* Center horizontally */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items horizontally */
    gap: 45px; /* Add gap between buttons */
    
}

.navLink{
    color: #fff;
    text-decoration: none;
}

.navLink:hover {
    color: #ff69b4; /* Change color on hover */
}

.historyWelcome {
    text-align: center;
    margin-top: 20px;
}

.historyCard {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto; /* Center horizontally */
    max-width: 600px; /* Set a maximum width */
    padding: 20px;
    width: 90%; /* Ensure it is responsive */
}

.edit-mode{
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.edit-content{
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 80%;
    height: 50px;
}

.btnContainer {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    gap: 10px;
}

.edit-btn{
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.delete-btn{
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.save-btn{
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.cancel-btn{
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}